#container {
    width: 400px;
    height: 225px;
    background-color: #fff;
    background-color: #f2f1f0;
    border: 1px solid #aaa;
    padding: 10px;
}

#list {
    background-color: #fff;
    border: 1px solid #aaa;
}

.account {
    height: 30px;
    font-weight: bold;
    margin-bottom: 2px;
    padding-left: 5px;
}

.account:hover {
    height: 28px;
    background-color: #ddd;
    border: 1px solid #aaa;
    color: #000;
}

.account input[type='checkbox'] {
    margin: 10px 15px 0px 15px;
    display: block;
    float: left;
}

.account img {
    margin: 3px 7px;
    padding: 3px;
    display: block;
    float: left;
}

.account label {
    padding: 6px 6px 0 6px;
    cursor: pointer;
    width: 200px;
    display: block;
    float: left;
    overflow: hidden;
    max-height: 20px;
    font-size: 14px;
}

.account .actions {
    font-weight: normal;
    padding-left: 5px;
}

.options {
    margin-top: 5px;
}

.options label {
    font-size: 13px;
}

.extra {
    height: 26px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

.extra ul {
    height: 26px;
    list-style-type: none;
    margin: 10px 10px 0 0;
    padding: 0;
    float: right;
}

.extra li {
    float: left;
    padding-left: 15px;
    font-size: 11px;
}

#dialog {
    width: 200px;
    height: 180px;
    background-color: #fff;
    z-index: 100;
    top: 18px;
    left: 90px;
    position: absolute;
    border-radius: 0px 8px 0px 8px;
    box-shadow: 0px 0px 15px #000;
    padding: 10px 20px 10px 20px;
}

#dialog label {
    font-size: 11px;
}

#dialog h2 {
    color: #000;
    font-family: Arial, Helmet, Freesans, sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: 0 0 5px 0;
    padding: 0px;
}

#remember, #protocol {
    margin-left: 0px;
}

#protocol {
    width: 200px;
}

#account-loading {
    font-size: 11px;
    margin: 6px 10px 0 0;
    text-align: right;
}

#login-loading {
    font-size: 11px;
    height: 28px;
    margin-right: 20px;
    text-align: right;
}
