body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif !important;
    font-size: 14px;
}

input[type="text"], input[type="password"]{
    padding: 4px;
    border: 1px solid #aaa;
    color: #555;
    vertical-align: middle;
    background: #fff url('../../pixmaps/textinput-background.png') repeat-x top;
    margin: 0 0 5px 0;
}

.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}
