#dialog {
    width: 350px;
    height: 160px;
}

#dialog #icon {
    float: left;
}

#dialog #message {
    float: left;
    width: 290px;
    height: 35px;
    padding: 8px 10px 5px 0px;
}

#dialog #widgets {
    margin-left: 48px;
}

.option {
    font-size: 13px;
}

#password {
    width: 180px;
}

#remember {
    margin-left: 0px;
}

.button {
    height: 28px;
    min-width: 100px;
    margin: 10px;
    margin-left: 0px;
}

.extra {
    height: 26px;
    margin-top: 15px;
    border-top: 1px solid #ccc;
    text-align: right;
}
