#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:0px;
}
    
#modal .background {
    opacity: 0.50;
    background-color: #424242;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
}
