include turpial/data/pixmaps/*
include turpial/data/sounds/*
include turpial/data/fonts/*
global-include turpial/i18n/ *.po
global-include turpial/i18n/ *.mo
include turpial/ui/qt/templates/*
include turpial.desktop
include doc/*
include ChangeLog
include README.rst
include COPYING
include AUTHORS
include THANKS
include TRANSLATORS
include ez_setup.py
include pylintrc
