include turpial/data/pixmaps/*
include turpial/data/sounds/*
include turpia/data/layout/*
include turpial.desktop
include doc/*
include ChangeLog
include README.rst
include COPYING
include AUTHORS
include THANKS
include ez_setup.py
include pylintrc
