[Desktop Entry]
Version=2.0
Name=Turpial
Name[es]=Turpial
GenericName=Microblogging client
GenericName[es]=Cliente de microblogging
Comment=A light, beautiful and functional microblogging client
Comment[es]=Un cliente de microblogging ligero, bonito y funcional
Exec=turpial
Icon=turpial
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
