<html>
<head>
    <% stylesheets %>
    <% javascripts %>
</head>
<body style="text-align: center;background-color:#edeceb;">
<div style="width: 96px;margin:0 auto;padding-top:25px;">
<% img "turpial.png" %>
</div>
<div style="font-size:20px;">
<b>Turpial <% VERSION  %></b>
</div>
</br>
Microblogging client written in Python.
</br>
Copyright (C) 1999 - 2011 Wil Alvarez
</br>
<a href="http://turpial.org.ve/">http://turpial.org.ve/</a>
</br>
</br>
<a href="http://turpial.org.ve/">Credits</a> | <a href="http://turpial.org.ve/">License</a>
</body>
</html>
