<html>
<head>
    <% stylesheets %>
    <% javascripts %>
</head>
<body>
    <% query %>
    <div id="container">
        <div id="list"><% @accounts %></div>
    </div>
    <div id="dock-container">
        <div id="dock">
            <div class="button" title="<% $add_account %>"><a href="cmd:new_account"><% img "dock-add.png" %></a></div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
