<html>
<head>
    <% stylesheets %>
    <% javascripts %>
</head>
<body>
    <div id="container">
        <div id="list"><% @accounts %></div>
        <div class="extra">
            <ul id="nav">
                <li><a href="cmd:close">Close</a></li>
                <li><a href="cmd:new_account">Add account</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
