<html>
<head>
    <% stylesheets %>
    <% javascripts %>
</head>
<body>
    <% query %>
    <div id="container">
        <div id="list"><% @columns %></div>
        <% @variables_js %>
        <div class="extra">
            <ul id="nav">
                <li><a href="cmd:close"><% $close %></a></li>
                <li><a href="cmd:save"><% $save %></a></li>
                <li><a href="cmd:new_column"><% $add %></a></li>
                
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
