<html>
<head>
    <% stylesheets %>
    <% javascripts %>
</head>
<body>
    <div id="dialog">
        <div id="icon"><% img "dialog-secret.png" %></div>
        <div id="message"><% @type_password %></div>
        <div class="clearfix"></div>
        <div id="widgets">
            <label class="option"><% $password %> </label>
            <input id="password" type="password" onchange="check();"/><br/>
            <input id="remember" type="checkbox" />
            <label class="option"><% $remember_my_credentials %></label>
        </div>
        <div class="extra">
            <input id="cancel" class="button" type="button" value="<% $cancel %>" onclick="javascript: cancel();"/>
            <input id="ok" class="button" type="button" value="<% $ok %>" onclick="javascript:ok();"/>
        </div>
    </div>
</body>
</html>
