<html>
<head>
    <% stylesheets %>
    <% javascripts %>
</head>
<body>
    <% query %>
    <div id="container">
        <div id="content">
            <div id="column-empty" class="column">
                <div id="wrapper-empty" class="empty-wrapper">
                    <div id="list-empty" class="empty-list">
                        <div class="empty-logo"><% img "logo.png" %></div>
                        <div class="empty-message"><b><% $welcome %></b><br/><br/><% $no_active_accounts %></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dock-container">
            <div id="main-notice-container">
                <div id="main-notice" class="notice overflow"></div>
            </div>
            <div id="dock">
                <div class="button" title="<% $about %>"><a href="cmd:about"><% img "dock-about.png" %></a></div>
                <div class="button" title="<% $preferences %>"><a href="cmd:preferences"><% img "dock-preferences.png" %></a></div>
                <div class="button" title="<% $columns %>"><a href="cmd:columns_menu"><% img "dock-add.png" %></a></div>
                <div class="button" title="<% $accounts %>"><a href="cmd:accounts_manager"><% img "dock-accounts.png" %></a></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
