<html>
<head>
    <% stylesheets %>
    <% javascripts %>
</head>
<body>
    <div id="login-window">
        <div id="logo"><% img "logo-login.png" %></div>
        <div id="widgets" class="container">
            <div id="title"><h1><% $accounts %></h1></div>
            <div id="form">
                <% partial 'accounts' %>
            </div>
            <div class="options">
                <input id="startup" type="checkbox"/>
                <label for="startup" ondblclick="this.blur();"><% $login_at_startup %></label>
            </div>
            <div id="button">
                <input id="login-button" type="button" value="Login"/>
                <div class="clearfix"></div>
            </div>
            <div id="extra">
                <ul>
                    <li><a href="cmd:about"><% $about %></a></li>
                    <li><a href="cmd:preferences"><% $preferences %></a></li>
                    <li><a href="cmd:add_account"><% $add_account %></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
