<html>
<head>
    <% stylesheets %>
    <% javascripts %>
</head>
<body>
    <% query %>
    <div id="container">
        <div id="content">
            <% @content %>
        </div>
        <% @dock %>
        <div class="clearfix"></div>
    </div>
</body>
</html>
