<html>
<head>
    <% stylesheets %>
    <% javascripts %>
</head>
<body>
    <% query %>
    <div id="container">
        <div id="alert-message" style="display: none;">
            <span class="close">x</span>
            <label id="alert-label" class="overflow"></label>
        </div>
        <div id="content">
            <% @content %>
        </div>
        <div id="dock-container">
            <div id="dock">
                <div class="button" title="<% $about %>"><a href="cmd:about"><% img "dock-about.png" %></a></div>
                <div class="button" title="<% $preferences %>"><a href="cmd:preferences"><% img "dock-preferences.png" %></a></div>
                <div class="button" title="<% $columns %>"><a href="cmd:add_column"><% img "dock-add.png" %></a></div>
                <div class="button" title="<% $accounts %>"><a href="cmd:accounts_manager"><% img "dock-accounts.png" %></a></div>
                <div class="button" title="<% $follow %>"><a href="cmd:users"><% img "dock-profile.png" %></a></div>
                <div class="button" title="<% $direct_messages %>"><a href="javascript: show_autocomplete_for_direct()"><% img "dock-message.png" %></a></div>
                <div class="button" title="<% $update_status %>"><a href="javascript: show_update_box()"><% img "dock-update.png" %></a></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        
        <!-- Modality -->
        <div id="modal" style="display: none;"><div class="background"></div></div>
        
        <!-- Updatebox -->
        <div id="update-box" name="" style="display: none;">
            <div class="titlebar">
                <label id="update-box-title" class="text"><% $whats_happening %></label>
                <a href="javascript: close_update_box();" class="close" title="<% $close %>"><% img "action-delete.png" %></a>
                <label id="char-counter">140</label>
                <div class="clearfix"></div>
            </div>
            <div class="body">
                <input id="in-reply-to-id" type="hidden" value="" />
                <input id="direct-message-to" type="hidden" value="" />
                <div class="message-container"><textarea id="update-message" rows="3"></textarea></div>
                <div id="buttonbox-update">
                    <a href="javascript: update_status();" class="action" title="<% $update_status %>">Submit</a>
                    <a href="javascript: short_url();" class="action" title="<% $short_urls %>">Short</a>
                    <a href="#" class="action" id="upload-img-cmd" title="<% $upload_image %>">Image</a>
                    <div class="clearfix"></div>
                </div>
                <div class="progress-box" id="progress-box-updatebox" style="display: none;">
                    <label id="progress-msg-updatebox"><% $loading %></label>
                    <% rimg "light-loader.gif", 16, 16 %>
                </div>
                <div id="sendwith-box">
                    <label><% $send_with %></label>
                    <% @account_buttons %>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        
        <!-- Profile window -->
        <div id="profile-window" name="" style="display: none;">
            <input id="indicator-profile-window" type="hidden" value="" />
            <div class="titlebar">
                <label id="profile-window-title" class="text"><% $user_profile %></label>
                <a href="javascript: close_profile_window();" class="close" title="<% $close %>"><% img "action-delete.png" %></a>
                <div class="clearfix"></div>
            </div>
            <div class="progress-box" id="progress-box-profile-window" style="display: none;">
                <label id="progress-profile-window"><% $loading %></label>
                <% rimg "light-loader.gif", 16, 16 %>
            </div>
            <div id="profile-window-content"></div>
            <div class="clearfix"></div>
        </div>
        
        <!-- Autocomplete window -->
        <div id="autocomplete-window" name="" style="display: none;">
            <input id="indicator-autocomplete-window" type="hidden" value="" />
            <input id="autocomplete-index" type="hidden" value="" />
            <div class="titlebar">
                <label id="autocomplete-window-title" class="text"></label>
                <a href="javascript: close_autocomplete_window();" class="close" title="<% $close %>"><% img "action-delete.png" %></a>
                <div class="clearfix"></div>
            </div>
            <div class="content">
                <div id="user-input">
                    <label>@</label>
                    <input id="autocomplete-username" autocomplete="off" class="ac_input" type="text" />
                    <a id="autocomplete-load-cmd" href="javascript: load_friends();" title="<% $load_friends %>"><% img "action-refresh2.png" %></a>
                    <div style="display: none; position: absolute; z-index: 102;" class="ac_results"></div>
                </div>
                <div id="buttonbox-autocomplete">
                    <label id="friends_counter">0 <% $friends %></label>
                    <a id="autocomplete-add-cmd" href="" class="action" title="<% $add_friend %>"><% $add %></a>
                    <input id="autocomplete-add-function" type="hidden" value=""/>
                    <div class="clearfix"></div>
                </div>
                <div class="progress-box" id="progress-box-autocomplete" style="display: none;">
                    <label id="progress-msg-autocomplete"><% $loading_friends %></label>
                    <% rimg "light-loader.gif", 16, 16 %>
                </div>
                <div id="autocomplete-list">
                </div>
            </div>
        </div>
        
        <!-- Imageview window -->
        <div id="imageview-window" name="" style="display: block;">
            <div id="imageview-container">
                <div id="imageview-close"><a href="javascript:hide_imageview()"><% $close %></a></div>
                <img id="imageview" src="" style="display: block;">
                <div id="progress-box-imageview" style="display: none;">
                    <% rimg "dark-loader.gif", 16, 16 %>
                    <label id="progress-msg-imageview"><% $loading %></label>
                </div>
            </div>
        <div/>
    </div>
</body>
</html>
