body {
    background-color: #f2f1f0;
}

#container {
    padding: 10px;
    height: 175px;
}

.extra {
    height: 26px;
}

.extra ul {
    height: 26px;
    list-style-type: none;
    margin: 10px 10px 0 0;
    padding: 0;
    float: right;
}

.extra li {
    float: left;
    padding-left: 15px;
    font-size: 11px;
}

input[type="text"], input[type="password"]{
    width: 250px;
}

#form {
    margin-left: 6px;
}

#form label {
    font-size: 11px;
}

#protocol {
    width: 250px;
    margin-left: 0px;
}

#account-loading {
    font-size: 11px;
    margin: 6px 10px 0 0;
    text-align: right;
}
