body {
    background-color: #000;
}

#container {
    background-color: #f2f1f0;
    border: 1px solid #aaa;
    padding: 5px;
}

#list {
    width: 345px;
    height: 282px;
    background-color: #fff;
    border: 1px solid #aaa;
}

#dock-container {
    background: #000 url() no-repeat;
}

#dock {
    margin-right: 5px;
}

.account {
    height: 30px;
    font-weight: bold;
    margin-bottom: 2px;
    padding-left: 5px;
}

.account:hover {
    height: 30px;
    background-color: #ddd;
    color: #000;
}

.account img {
    margin: 3px 3px;
    padding: 0px;
    display: block;
    float: left;
}

.account label {
    padding: 6px 4px 0 4px;
    width: 160px;
    display: block;
    float: left;
    overflow: hidden;
    max-height: 20px;
    font-size: 14px;
}

.options {
    margin-right: 15px;
}

.action {
    margin: 8px 0 0 10px;
    float: right;
    font-size: 10px;
    max-width: 70px;
    font-weight: normal;
    display: block;
}

.progress {
    color: #999;
}

.done {
    color: #900;
}
