#container {
    background-color: #f2f1f0;
    border: 1px solid #aaa;
    padding: 10px;
}

#list {
    width: 100px;
    height: 100px;
}

select.account {
    width: 180px;
}

select.stream {
    width: 120px;
}

label {
    font-size: 13px;
}

.action {
    font-size: 11px;
    margin-left: 5px;
}

.extra {
    height: 26px;
}

.extra ul {
    height: 26px;
    list-style-type: none;
    margin: 10px 10px 0 0;
    padding: 0;
    float: right;
}

.extra li {
    float: left;
    padding-left: 15px;
    font-size: 11px;
}
