html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif !important;
    font-size: 14px;
}

a:link, a:visited{
    color: #006C12;
    text-decoration: none;
    outline: none;
}

a:hover{
    color: #00AB1C;
    text-decoration: none;
    outline: none;
}

/* TODO: Fix the gradient here */
input[type="text"], input[type="password"]{
    padding: 4px;
    border: 1px solid #aaa;
    color: #333;
    vertical-align: middle;
    /*background: #fff url('<% css_img "textinput-background.png" %>') repeat-x top;*/
    margin: 0 0 5px 0;
    border-color: #a7a3a0;
    outline: none;
}

.button {
    float: left;
    height: 19px;
    width: 19px;
    padding: 3px 0 0 3px;
}

.button:hover {
    background-color: #424242;
}

.disabled_text {
    color: #999;
    cursor: default !important;
}

input[disabled='disabled'], textarea[disabled='disabled'] {
    color: #808080;
    background-color: #ddd;
}

.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*** Dock stuffs ***/

#dock-container {
    height: 22px;
    background: url('<% css_img "anchor.png" %>') no-repeat bottom right;
    float: right;
    width: 182px;
}

#dock {
    float: right;
    height: 22px;
    margin-right: 10px;
}

/*** Notice stuffs ***/

#alert-message {
    position: absolute;
    top: 25px;
    margin: 0 auto;
    z-index: 9999;
    border-radius: 4px;
    padding: 4px 5px 4px 10px;
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

#alert-label {
    float: left;
    font-size: 12px;
    width: 200px;
    margin-top: 3px;
    cursor: pointer;
}

#alert-message .close {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 18px;
    opacity: 0.25;
    width: 15px;
    color: #000;
}

#alert-message.error {
    color: #fff;
    background-color: #c43c35;
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#alert-message.warning {
    color: #404040;
    background-color: #eedc94;
    background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

#alert-message.info {
    color: #fff;
    background-color: #57a957;
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
    background: transparent;
    overflow: visible;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border: solid #fff;
    min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
    background: transparent;
}
