html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif !important;
    font-size: 14px;
}

a:link, a:visited{
    color: #006C12;
    text-decoration: none;
    /*font-size: 11px;*/
}

a:hover{
    color: #00AB1C;
    text-decoration: none;
    /*font-size: 11px;*/
}

input[type="text"], input[type="password"]{
    padding: 4px;
    border: 1px solid #aaa;
    color: #333;
    vertical-align: middle;
    background: #fff url('<% css_img "textinput-background.png" %>') repeat-x top;
    margin: 0 0 5px 0;
}

.disabled_text {
    color: #999;
    cursor: default !important;
}

.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*** Dock stuffs ***/

#dock-container {
    height: 22px;
    background: #3c3b37 url('<% css_img "header-background.png" %>') repeat-x;
    float: left;
    width: 100%;
}

#dock {
    float: left;
    width: 110px;
    height: 22px;
}

/*** Notice stuffs ***/

#notice-container {
    float: left;
    width: 200px;
    height: 22px;
}

#notice {
    float: left;
    width: 200px;
    height: 18px;
    margin-top: 4px;
    padding-left: 20px;
    font-size: 11px;
    color: #fff;
}

#notice.error {
    background: url('<% css_img "notice-error.png" %>') no-repeat 2px 0px;
}

#notice.info {
    background: url('<% css_img "notice-information.png" %>') no-repeat 2px 0px;
}

#notice.warning {
    background: url('<% css_img "notice-warning.png" %>') no-repeat 2px 0px;
}

::-webkit-scrollbar {
    background: transparent;
    overflow: visible;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border: solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
    background: transparent;
}
