#container {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    background-color: #f2f1f0;
    height: auto;
    padding-top: 22px;
    margin-top: -22px;
}

.column {
    float: left;
    height: auto;
}

.empty-wrapper {
    float: left;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-width: 0 0 0 0px;
}

.empty-list {
    background-color: #fff;
    color: #000;
    margin: 5px;
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.empty-message {
    margin: 0 auto;
    width: 270px;
    text-align: center;
    color: #666;
}

.empty-message h1 {
    font-size: 18px;
    font-weight: bold;
}

.empty-logo {
    top: 0px;
    width: 230px;
    margin: 0 auto;
    text-align: center;
}
