#wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
				background: url(<% css_img "fondo.png" %>) repeat-x;
				background-color: #ecf0f2;
}

	#content {
		font-family: Arial, sans-serif;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -120px 0 0 -120px;
		font-family: "Times New Roman", "Garamond", serif;
		text-align:center;
		z-index: 500;
	}
	#text {
		font-family: sans-serif;
		font-size: 12px;
		width: 238px;
	}
	#pay {
		padding-top:10px;
	}
		#content span.logo {
			margin: 0 0 0 35px;
			font-size: 46px;
			color:#283D68;
		}
			#content span.logo sub {
				font-size: 12px;
			}

		
		#content h1 {
			font-size: 26px;
			margin: -3px 0 10px;
			font-weight: normal;
			padding: 0;
			color: #0F7272;
			text-align:center;
		}
		#content p {
			position: relative;
			left: 10px;
			width: 100%;
			margin: 0 auto 15px;
			padding: 0;
			font-size: 16px;
			text-align: left;
			color: #283D68;
		}
		#content ul {
			margin: 0 auto 20px;
			padding: 0;
			width: 80%;
			text-align: left;
			color: #283D68;
		}
			#content ul li{
				margin: 0;
				padding: 0;
			}
		#content a.menu {
			display: block;
			width: 186px;
			height: 57px;
			margin: 10px auto 10px;
			text-decoration: none;
		}
		#content a.menu:hover {
			background-position: 0 -57px;
		}
		#content a.download {
			background: url(<% css_img "bg_download.png" %>) no-repeat;
		}
		#content a.docs {
			background: url(<% css_img "bg_docs.png" %>) no-repeat;
		}
			#content a.menu ins{
				position: relative;
				left: 15px;
				top: 12px;
				font-size: 26px;
				color: #1B7AC9;
				text-decoration: underline;
			}
	#sun {
		display: none;
		position: absolute;
		top: -147px;
		right: 20%;
		width: 355px;
		height: 174px;
		background: url(<% css_img "sun.png" %>) no-repeat;
	}
	
	#cloud1 {
		position: absolute;
		top: 5%;
		left: -30%;
		width: 702px;
		height: 206px;
		background: url(<% css_img "nube3.png" %>) no-repeat;
		opacity: 0.5;
	}
	#turpial {
		                        position: relative;^M
                        left: 30px;^M
                        width: 100%;^M
                        margin: 0 auto 15px;^M
                        padding: 0;^M
                        font-size: 16px;^M
                        text-align: left;^M
                        color: #283D68;^M
		width: 238px;
		height: 151px;
		background: url(<% css_img "turpial_logo.png" %>) no-repeat;}
	
	#cloud2 {
		position: absolute;
		top: 7%;
		left: 15%;
		width: 214px;
		height: 158px;
		background: url(<% css_img "nube2.png" %>) no-repeat;
		opacity: 0.7;
	}
	
	#cloud3 {
		position: absolute;
		top: 5%;
		right: 5%;
		width: 179px;
		height: 86px;
		background: url(<% css_img "nube1.png" %>) no-repeat;
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
	
	#ground {
		position: absolute;
		width: 100%;
		height: 460px;
		left: 0;
		bottom: 0px;
		overflow: hidden;
	}
		#gross1 {
			position: absolute;
			display: none;
			width: 100%;
			height: 55px;
			left: 0;
			bottom: 0px;
			background: url(<% css_img "gross1.png" %>) repeat-x;
		}
		
		#tree1 {
			display: none;
			position: absolute;
			width: 64px;
			height: 80px;
			left: 7%;
			bottom: 45px;
			background: url(<% css_img "arbol1.png" %>) ;
		}
		


		#tree2 {
			display: none;
			position: absolute;
			width: 61px;
			height: 70px;
			left: 21%;
			bottom: 33px;
			background: url(<% css_img "arbol2.png" %>) ;
		}

		#creditos {
		position:absolute;
		 padding-left:20px;
		 padding-right:20px;
		 top: 100%;


		}


		#license{
		position:absolute;
		 padding-left:20px;
		 padding-right:20px;
		 top: 100%;
		 width: 300px;


		}

		
		#tree3 {
			display: none;
			position: absolute;
			width: 103px;
			height: 90px;
			right: 7%;
			bottom: 40px;
			background: url(<% css_img "arbol3.png" %>) ;
		}
		
		#tree4 {
			display: none;
			position: absolute;
			width: 18px;
			height: 23px;
			right: 5%;
			bottom: 62px;
			background: url(<% css_img "arbol4.png" %>) ;
		}
		#tree5 {
			display: none;
			position: absolute;
			width: 19px;
			height: 22px;
			left: 6%;
			bottom: 50px;
			background: url(<% css_img "arbol5.png" %>) ;
		}


		#flowers {
			position: absolute;
			width: 100%;
			height: 112px;
			left: -100%;
			bottom: 0px;
			background: url(<% css_img "flowers.png" %>) repeat-x;
		}
		
		#gross2 {
			position: absolute;
			width: 100%;
			height: 70px;
			left: 0;
			bottom: -70px;
			background: url(<% css_img "gross2.png" %>) repeat-x;
		}

		#tierra1 {
			position: absolute;
			width: 100%;
			height: 70px;
			left: 0;
			bottom: -70px;
			background: url(<% css_img "tierra1.png" %>) repeat-x;
		}
		#tierra2 {
			position: absolute;
			width: 100%;
			height: 78px;
			left: 0;
			bottom: -78px;
			background: url(<% css_img "tierra2.png" %>) repeat-x;
		}
