a:link, a:visited{
    color: #006C12;
    text-decoration:none;
}

a:hover{
    color: #006C12;
    text-decoration:underline;
}

#login-window {
    width: 350px;
    height: 480px;
    background: #262626 url('<% css_img "landscape.png" %>') bottom left no-repeat;
}

#login-window #logo {
    width: 260px;
    height: 61px;
    padding-top: 20px;
    margin: 0 auto;
}

#login-window .container {
    width: 260px;
    margin: 0 auto;
}

#widgets {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #000;
}

.title {
    width: 100%;
    height: 25px;
    background: #359130 url('<% css_img "title-background.png" %>') repeat-x;
    border-radius: 5px 5px 0 0;
}

.title h1 {
    color: #fff;
    font-family: Arial, Helmet, Freesans, sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
    padding: 6px 0 0 12px;
}

#login-window #widgets #form {
    float: left;
    width: 100%;
    height: 140px;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #cadce2;
}

.account {
    height: 30px;
    font-weight: bold;
    margin-bottom: 2px;
    padding-left: 5px;
}

.account input {
    display: block;
    float: left;
    margin: 8px 6px 0 5px;
}

.account img {
    padding-top: 6px;
    display: block;
    float: left;
}

.account label {
    padding: 6px 0 0 6px;
    cursor: pointer;
    width: 140px;
    display: block;
    float: left;
    overflow: hidden;
    max-height: 20px;
    font-size: 14px;
}

.account a {
    display: block;
    float: left;
    margin-right: 7px;
}

.account .option {
    padding-top: 0px;
    display: block;
    float: left;
}

.options {
    padding-left: 5px;
}

.options label {
    font-size: 13px;
}

.button {
    padding-top: 15px;
}

#login-button {
    height: 28px;
    min-width: 130px;
    float: right;
    margin-right: 10px;
}

.extra {
    height: 26px;
    margin-top: 15px;
    border-top: 1px solid #ccc;
}

.extra ul {
    height: 26px;
    list-style-type: none;
    margin: 10px 10px 0 0;
    padding: 0;
    float: right;
}

.extra li {
    float: left;
    padding-left: 15px;
    font-size: 11px;
}

#modal {
    width: 350px;
    height: 480px;
    position: absolute;
    top: 0px;
    left:0px;
}
    
#modal .background {
    opacity: 0.50;
    background-color: #424242;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
}

#modal #dialog {
    width: 200px;
    height: 180px;
    background-color: #fff;
    z-index: 100;
    top: 135px;
    left: 55px;
    position: absolute;
    border-radius: 0px 8px 0px 8px;
    box-shadow: 0px 0px 15px #000;
    padding: 20px 20px 10px 20px;
}

#modal #dialog label {
    font-size: 11px;
}

#modal #dialog h2 {
    color: #000;
    font-family: Arial, Helmet, Freesans, sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: 0 0 5px 0;
    padding: 0px;
}

#remember, #protocol {
    margin-left: 0px;
}

#protocol {
    width: 200px;
}

.textinput {
    width: 200px;
    padding: 4px;
    border: 1px solid #aaa;
    color: #555;
    vertical-align: middle;
    background: #fff url('<% css_img "textinput-background.png" %>') repeat-x top;
    margin: 0 0 5px 0;
}

#account-loading {
    font-size: 11px;
    margin: 6px 10px 0 0;
    text-align: right;
}

#login-loading {
    font-size: 11px;
    height: 28px;
    margin-right: 20px;
    text-align: right;
}

.disabled_text {
    color: #999;
    cursor: default !important;
}
