#container {
    height: 100%;
    background-color: #fff;
}

#dock-container {
    position: absolute;
    max-height: 56px;
    bottom: 0px;
    z-index: 10;
    width: 260px;
    margin: 0 auto;
    left: 0px;
}

#hider {
    width: 60px;
    height: 8px;
    margin: 0 auto;
    border-radius: 7px 7px 0 0;
    /*background: #3c3b37 url('<% css_img "dock-background.png" %>') repeat-x;*/
    cursor: pointer;
}

#dock {
    width: 260px;
    height: 48px;
    margin: 0 auto;
    background: #3c3b37 url('<% css_img "dock-background.png" %>') repeat-x;
    z-index: 10;
    text-align: center;
}

#dock img {
    width: 40px;
    height: 40px;
}

.dockbutton {
    float: left;
    opacity: 0.45;
    margin: 5px 6px;
}

.dockbutton:hover {
    opacity: 1;
    /*margin-top: -2px;
    padding-bottom: 2px;*/
}

#content {
    height: 100%;
    width: 100%;
    background-color: #f2f1f0;
}

.column {
    float: left;
    height: 100%;
}

.header {
    float: left;
    height: 32px;
    width: 100%;
    background: #3c3b37 url('<% css_img "header-background.png" %>') repeat-x;
    color: #fff;
    text-align: left;
    border: 1px solid #fff;
    border-width: 0 1px 0 0;
}

.header .combo {
    float: left;
    /*background: #424242 url('<% css_img "button-menu.png" %>') no-repeat top right;
    background: transparent url('<% css_img "button-menu.png" %>') no-repeat top right;*/
    border-radius: 2px;
    color: #fff;
    margin: 5px 5px 0 5px;
    /*height: 22px;
    border: 1px solid #333;
    padding-right: 26px;*/
}

.header .combo2:hover {
    /*background-color: #666;*/
    background-color: #424242;
}

.header .combo img {
    margin: 0px 2px 3px 2px;
    padding: 3px;
    display: block;
    float: left;
}

.header .combo label {
    padding: 2px 6px 0 6px;
    /*width: 200px;
    display: block;*/
    float: left;
    overflow: hidden;
    max-height: 20px;
    font-size: 14px;
}

.header .button {
    float: left;
    /*background-color: #424242;
    border: 1px solid #333;
    border-radius: 2px;*/
    color: #fff;
    height: 32px;
    width: 32px;
    margin-top: 0px;
}

.header .button:hover {
    background-color: #424242;
}

.action_refresh {
    background: transparent url('<% css_img "action-refresh.png" %>') no-repeat center;
}

.action_select {
    background: transparent url('<% css_img "action-select-column.png" %>') no-repeat center;
}

.wrapper {
    float: left;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-width: 0 0 0 0px;
}

.list, .empty-list {
    background-color: #fff;
    color: #000;
    margin: 5px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.no-account {
    margin: 0 auto;
    width: 270px;
    text-align: center;
    color: #666;
}

.no-account h1 {
    font-size: 18px;
    font-weight: bold;
}

.empty-logo {
    top: 0px;
    width: 230px;
    margin: 0 auto;
    text-align: center;
}

.tweet {
    padding-bottom: 5px;
}

.tweet .icon {
    float: left;
    width: 48px;
    height: 48px;
    margin: 5px;
}

.tweet .icon img {
    width: 48px;
    height: 48px;
}

.tweet .content {
    float: left;
    margin: 5px 5px 5px 5px;
    border-radius: 7px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px 1px rgba(223, 223, 223, 0.4);
    padding: 5px 10px 5px 10px;
    position: relative;
    min-height: 50px;
}

.tip {
    top: 9px;
    left: -8px;
    position: absolute;
    height: 12px;
    width: 9px;
    background: url('<% css_img "bubble-tip.png" %>') no-repeat top left;
}

.tweet .content .name {
    float: left;
    margin: 0 5px 5px 0;
    font-weight: bold;
    color: #006c12;
}

.tweet .content .star {
    float: right;
}

.tweet .content .message {
    font-size: 12px;
    cursor: default;
}

.tweet .content .timestamp, .tweet .content .repost {
    font-size: 11px;
    color: #999;
    cursor: default;
}

.tweet .content .timestamp {
    margin-top: 5px;
}

.tweet .content .repost {
    float: left;
    margin-top: 2px;
}

.tweet .content .action {
    float: right;
}

.tweet .content .options {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #fff;
    /*border-radius: 7px 0px 7px 0px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px 1px rgba(223, 223, 223, 0.4);*/
}

.tweet .content .options ul {
    height: 26px;
    list-style-type: none;
    margin: 10px 10px 0 0;
    padding: 0;
    float: right;
}

.tweet .content .options li {
    float: left;
    padding-left: 15px;
    font-size: 11px;
}

.tweet .content .options2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 16px;
    margin: 0 10px 5px 0;
    padding: 10px 0 0 6px;
    background-color: #fff;
}

.tweet .content .options2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.tweet .content .options2 li {
    float: left;
    padding-left: 12px;
    font-size: 11px;
}
