#container {
    height: 100%;
    background-color: #000;
    float: left;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    width: 100%;
    background-color: #f2f1f0;
    float: left;
}

.column {
    float: left;
    height: 100%;
}

.header {
    float: left;
    height: 22px;
    width: 100%;
    background-color: #000;
    color: #ebebeb;
    text-align: left;
}

.header .combo {
    float: left;
    margin: 0px 5px 0 5px;
}

.header .combo img {
    padding: 3px 0 0 3px;
    display: block;
    float: left;
}

.header .combo label {
    padding: 4px 6px 0 6px;
    float: left;
    max-height: 20px;
    font-size: 12px;
    font-weight: bold;
}

.header .buttons {
    float: right;
    margin-right: 5px;
}

.header .progress {
    float: right;
    margin: 2px 8px 0 0;
}

.action {
    margin-left: 10px;
    float: right;
    font-size: 10px;
    max-width: 50px;
}

.wrapper {
    float: left;
    width: 100%;
    height: 100%;
    /*border: 1px solid #ccc;
    border-width: 0 0 0 0px;*/
}

.list {
    background-color: #fff;
    color: #000;
    margin: 5px;
    padding: 0;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/*** Tweet stuffs ***/

.tweet {
    padding-bottom: 5px;
}

.tweet .content-divider {
    position: relative;
    width: 16px;
    height:8px;
}

.tweet .content-divider .inner-carrot {
    position: absolute;
    top: -7px;
    left: 21;
    z-index: 11;
    border-bottom: 7px solid white;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-right: 7px solid transparent;
    border-right-width: 7px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left: 7px solid transparent;
    border-left-width: 7px;
    border-left-style: solid;
    border-left-color: transparent;
}

.tweet .content-divider .outer-carrot {
    position: absolute;
    top: -8;
    left: 20;
    z-index: 10;
    border-bottom: 8px solid #DDD;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: #DDD;
    border-right: 8px solid transparent;
    border-right-width: 8px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left: 8px solid transparent;
    border-left-width: 8px;
    border-left-style: solid;
    border-left-color: transparent;
}

.tweet .bubble-x {
    position: absolute;
    top: -18;
    left: 2;
    z-index: 12;
}

.tweet .icon {
    float: left;
    width: 48px;
    height: 48px;
    margin: 5px;
}

.tweet .icon img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 8px;
}

.tweet .replylist {
    background-color:#F7F6F6;
    -webkit-box-shadow: inset 0 5px 5px -5px hsla(0,0%,0%,.5),
                inset 0 -5px 5px -5px hsla(0,0%,0%,.5);
}

.tweet .content {
    float: left;
    padding: 0;
    margin-top: 5px;
    position: relative;
    min-height: 50px;
}

.tweet .content .mark {
    float: left;
    display: block;
}

.tweet .content .repost_mark {
    float: left;
    display: block;
    margin-right: 5px;
}

.tweet .content .name {
    float: left;
    margin: 0 5px 5px 0px;
    font-weight: bold;
    color: #006c12;
    font-size: 12px;
    display: block;
}

.tweet .content .star {
    float: right;
    display: block;
}

.tweet .content .retweeted {
    float: right;
    display: block;
}

.tweet .content .message {
    font-size: 12px;
    cursor: default;
    word-wrap: break-word;
}

.tweet .content .timestamp, .tweet .content .repost {
    font-size: 11px;
    color: #999;
    cursor: default;
}
    
.tweet .content .timestamp {
    margin-top: 5px;
}

.tweet .content .timestamp a {
    color: #666;
}

.tweet .content .timestamp a:hover {
    color: #333;
}

.tweet .content .repost {
    margin-top: 2px;
}

.tweet .content .options {
    height: 16px;
    margin-top: 3px;
}

/*** Modal stuffs ***/
#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:0px;
    z-index: 99;
}
    
#modal .background {
    opacity: 0.50;
    background-color: #424242;
    position: absolute;
    width: 100%;
    height: 100%;
}

/*** Update-Box stuffs ***/
#update-box {
    position: absolute;
    z-index: 100;
    /*background-color: #333;*/
    background-color: #f2f1f0;
    bottom: 0px;
    height: 130px;
    width: 100%;
}

.titlebar {
    width: 100%;
    height: 22px;
    color: #ccc;
    background-color: #000;
    margin-bottom: 5px;
}

.titlebar .text {
    float: left;
    margin: 3px 0 0 5px;
    font-size: 12px;
}

.titlebar .close {
    float: right;
    margin: 3px 0 0 10px;
}

#char-counter {
    float: right;
    font-weight: bold;
    font-size: 18px;
}

.maxchar {
    color: #E20000;
}

.message-container {
    width: 100%;
    margin: 5px;
}

#update-message {
    border: 1px solid #a7a3a0;
    width: 100%;
    height: 50px;
    resize: none;
}

#update-message:focus {
    outline: 0;
    /*border-color: rgba(0, 108, 18, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 108, 18, 0.6);*/
}

.progress-box label {
    font-size: 11px;
    color: #000;
    float: right;
}

.progress-box img {
    float: right;
    margin-right: 8px;
}

#buttonbox-update {
    height: 22px;
    margin: 0 10px 0 5px;
    text-align: right;
}

#progress-box-updatebox {
    width: 100%;
    margin: 0 -10px;
    height: 22px;
}

#sendwith-box {
    margin: 0 10px 0 5px;
}

#sendwith-box label {
    color: #000;
    font-size: 11px;
    float: left;
    margin: 5px 5px 0 0;
}

.checkbox {
    float: left;
    height: 22px;
    margin-right: 5px;
    padding: 0px;
    border: 1px solid #ccc;
    background-color: #ddd;
    border-radius: 3px;
}

.checkbox img {
    float: left;
    padding: 2px 2px 4px 2px;
    margin-bottom: -4px;
    border-right: 1px solid #ccc;
}

.checkbox label {
    float: left;
    /*height: 18px;*/
    padding: 0 0 0 2px;
    margin: 3px 0 5px 0;
}

.acc_selector {
    margin: 0;
    padding: 0;
}

/*** Profile window stuffs ***/
#profile-window {
    position: absolute;
    z-index: 100;
    background-color: #f2f1f0;
    top: 50px;
    left: 10px;
    min-height: 250px;
    width: 290px;
    margin: 0 auto;
    border: 1px solid #999;
}

#progress-box-profile-window {
    float: right;
    margin: 10px;
}

#progress-box-profile-options {
    float: right;
    margin-right: 10px;
    height: 22px;
    width: 274px;
    border-bottom: 1px solid #ccc;
}

#profile-window .top {
    float: left;
    padding: 0 8px;
}

#profile-window .top .icon {
    float: left;
    width: 48px;
    margin-bottom: 5px;
}

#profile-window .top .icon img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 8px;
}

#profile-window .top .info {
    float: left;
}

#profile-window .top .info .name {
    float: left;
    margin: 5px 5px;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    display: block;
}

#profile-window .top .info .mark {
    float: left;
    display: block;
    margin-top: 5px;
}

#profile-window .top .info .username {
    float: left;
    margin: 0px 5px;
    color: #000;
    font-size: 12px;
    display: block;
}

#profile-window .options {
    float: left;
    height: 22px;
    padding: 0 8px;
    width: 274px;
    border-bottom: 1px solid #ccc;
}

#profile-window .options span {
    color: #666;
}

#profile-window .body {
    float: left;
    padding: 10px 8px 0px 8px;
    width: 274px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

#profile-window .body .mark {
    float: left;
    display: block;
}

#profile-window .body label {
    float: left;
    margin-left: 5px;
    font-weight: bold;
    color: #000;
    font-size: 12px;
    display: block;
}

#profile-window .body p {
    float: left;
    margin: 5px 0 10px 0;
    color: #333;
    font-size: 12px;
    display: block;
}

#profile-window .stats {
    float: left;
    height: 48px;
    width: 290px;
}

#profile-window .stats .box {
    float: left;
    height: 48px;
    width: 71px;
    border-right: 1px solid #ccc;
}

#profile-window .stats .bbox {
    float: left;
    height: 48px;
    width: 71px;
}

#profile-window .stats p {
    float: left;
    width: 71px;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 12px;
    display: block;
    margin: 8px 0 5px 0;
}

#profile-window .stats label {
    float: left;
    width: 71px;
    text-align: center;
    color: #333;
    font-size: 10px;
    display: block;
}

/*** Autocomplete window stuffs ***/
#autocomplete-window {
    position: absolute;
    z-index: 101;
    background-color: #f2f1f0;
    bottom: 50px;
    left: 10px;
    height: 85px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #999;
}

#autocomplete-window .content {
    /*width: 100%;*/
    margin: 5px;
}

#autocomplete-username {
    width: 150px;
}

#buttonbox-autocomplete {
    height: 17px;
    margin: 0 5px 0 5px;
    padding-top: 5px;
    text-align: right;
}

#progress-box-autocomplete {
    width: 100%;
    margin: 0 -10px;
    height: 22px;
}
