#container {
    height: 100%;
    background-color: #000;
    float: left;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    width: 100%;
    background-color: #f2f1f0;
    float: left;
}

.column {
    float: left;
    height: 100%;
}

.header {
    float: left;
    height: 22px;
    width: 100%;
    background: #3c3b37 url('<% css_img "header-background.png" %>') repeat-x;
    color: #ebebeb;
    text-align: left;
    /*border: 1px solid #fff;
    border-width: 0 1px 0 0;*/
}

.header .combo {
    float: left;
    /*border-radius: 2px;*/
    margin: 0px 5px 0 5px;
}

.header .combo img {
    padding: 3px 0 0 3px;
    display: block;
    float: left;
}

.header .combo label {
    padding: 4px 6px 0 6px;
    float: left;
    max-height: 20px;
    font-size: 12px;
    font-weight: bold;
}

.action {
    margin-left: 10px;
    float: right;
    font-size: 10px;
    max-width: 50px;
}

.action_refresh {
    background: transparent url('<% css_img "action-refresh.png" %>') no-repeat center;
}

.action_delete {
    background: transparent url('<% css_img "action-delete.png" %>') no-repeat center;
}

.wrapper {
    float: left;
    width: 100%;
    height: 100%;
    /*border: 1px solid #ccc;
    border-width: 0 0 0 0px;*/
}

/*.list, .empty-list {*/
.list {
    background-color: #fff;
    color: #000;
    margin: 5px;
    padding: 0;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
/*
.no-account {
    margin: 0 auto;
    width: 270px;
    text-align: center;
    color: #666;
}

.no-account h1 {
    font-size: 18px;
    font-weight: bold;
}

.empty-logo {
    top: 0px;
    width: 230px;
    margin: 0 auto;
    text-align: center;
}
*/
/*** Tweet stuffs ***/

.tweet {
    padding-bottom: 5px;
}

.tweet .icon {
    float: left;
    width: 48px;
    height: 48px;
    margin: 5px;
}

.tweet .icon img {
    width: 48px;
    height: 48px;
}

.tweet .content {
    float: left;
    padding: 0;
    /*margin: 5px 0px 5px 5px;*/
    margin-top: 5px;
    position: relative;
    min-height: 50px;
}

.tweet .content .mark {
    float: left;
    display: block;
}

.tweet .content .repost_mark {
    float: left;
    display: block;
    margin-right: 5px;
}

.tweet .content .name {
    float: left;
    margin: 0 5px 5px 0px;
    font-weight: bold;
    color: #006c12;
    font-size: 12px;
    display: block;
}

.tweet .content .star {
    float: right;
    display: block;
}

.tweet .content .message {
    font-size: 12px;
    cursor: default;
    word-wrap: break-word;
}

.tweet .content .timestamp, .tweet .content .repost {
    font-size: 11px;
    color: #999;
    cursor: default;
}

.tweet .content .timestamp {
    margin-top: 5px;
}

.tweet .content .repost {
    margin-top: 2px;
}

.tweet .content .options {
    height: 16px;
    margin-top: 3px;
}

/*** Modal stuffs ***/
#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:0px;
}
    
#modal .background {
    opacity: 0.50;
    background-color: #424242;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
}

/*** Update-Box stuffs ***/
#update-box {
    position: absolute;
    z-index: 100;
    /*background-color: #333;*/
    background-color: #f2f1f0;
    bottom: 0px;
    height: 130px;
    width: 100%;
}

#update-box .header {
    width: 100%;
    height: 22px;
    color: #ccc;
    background: #3c3b37 url('<% css_img "header-background.png" %>') repeat-x;
    margin-bottom: 5px;
}

#update-box .header .text {
    float: left;
    margin: 3px 0 0 5px;
    font-size: 12px;
}

#update-box .header .close {
    float: right;
    margin: 3px 0 0 10px;
}

#char-counter {
    float: right;
    font-weight: bold;
    font-size: 18px;
}

.maxchar {
    color: #E20000;
}

.message-container {
    width: 100%;
    margin: 5px;
}

#update-message {
    border: 1px solid #a7a3a0;
    width: 100%;
    height: 50px;
    resize: none;
}

#update-message:focus {
    outline: 0;
    /*border-color: rgba(0, 108, 18, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 108, 18, 0.6);*/
}

.progress-box label {
    font-size: 11px;
    color: #000;
    float: right;
}

.progress-box img {
    float: right;
    margin-right: 8px;
}

#buttonbox-update {
    height: 22px;
    margin: 0 10px 0 5px;
}
/*
#buttonbox-update a {
    color: #ccc;
}

#buttonbox-update a:hover {
    color: #fff;
}
*/
#progress-box-updatebox {
    width: 100%;
    margin: 0 -10px;
    height: 22px;
}

#sendwith-box {
    margin: 0 10px 0 5px;
}

#sendwith-box label {
    color: #000;
    font-size: 11px;
    float: left;
    margin: 5px 5px 0 0;
}

.checkbox {
    float: left;
    height: 22px;
    margin-right: 5px;
    padding: 0px;
    border: 1px solid #ccc;
    background-color: #ddd;
    border-radius: 3px;
}

.checkbox img {
    float: left;
    padding: 2px 2px 4px 2px;
    margin-bottom: -4px;
    border-right: 1px solid #ccc;
}

.checkbox label {
    float: left;
    /*height: 18px;*/
    padding: 0 0 0 2px;
    margin: 3px 0 5px 0;
}

.acc_selector {
    margin: 0;
    padding: 0;
}

.toggle {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    /* Colors for dark theme
    border: 1px solid #444;
    background-color: #666; */
    border: 1px solid #ccc;
    background-color: #ddd;
    display: block;
    float: left;
    margin-right: 5px;
}

.toggle.down {
    /* Colors for dark theme
    border: 1px solid #ccc;
    background-color: #ddd; */
    border: 1px solid #666;
    background-color: #999;
}

.toogle.locked {
    border: none;
    background-color: transparent;
}

.toggleicon {
    margin: 2px 0 0 2px;
}

#alert-message {
    position: absolute;
    top: 25px;
    margin: 0 auto;
    z-index: 9999;
    border-radius: 4px;
    padding: 4px 5px 4px 10px;
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

#alert-label {
    float: left;
    font-size: 12px;
    width: 200px;
    margin-top: 3px;
    cursor: pointer;
}

#alert-message .close {
    float: right;
    font-family: Arial, sans-serif;
    font-size: 18px;
    opacity: 0.25;
    width: 15px;
}

#alert-message.error {
    color: #fff;
    background-color: #c43c35;
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#alert-message.warning {
    color: #404040;
    background-color: #eedc94;
    background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

#alert-message.info {
    color: #fff;
    background-color: #57a957;
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
