#notice{
    top: 0px;
    left: 0px;
    height: 14px;
    text-align: left;
    position: absolute;
    width: 338px;
    padding: 4px 5px 2px 5px;
    z-index: 101;
    font-size: 11px;
}

#notice.error {
    color: #444;
    background: #ffebe8 url('<% css_img "action-clear.png" %>') no-repeat top right;
    border: 1px solid #dd3c10;
}

#notice.info {
    color: #444;
    background: #fff9d7 url('<% css_img "action-clear.png" %>') no-repeat top right;
    border: 1px solid #cfb400;
}
