<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    <style media='screen' type='text/css'>{{ stylesheet }}</style>
</head>
<body>
    <div style="width: 100%; height: 150px;">
        <div class="avatar" style="width: 73px; height: 73px; margin: 0 auto; background-color: #000;"></div>
        <div class="fullname" style="text-align: center; margin: 5px;">{{ fullname }}</div>
        <div class="username" style="text-align: center; margin: 5px;">{{ username }}</div>
    </div>
</body>
</html>
