<table id='status-{{ status.id_ }}' class='status'>
    <tr>
        <td class='avatar-row'>
            <img class='avatar' src='{{ status.avatar }}' />
            {% if status.is_verified %}
            <div class='verified'></div>
            {% endif %}
        </td>
        <td class='content'>
            <div class='user-info'>
                {% if status.is_protected %}
                <div class='username_protected'>{{ status.username }}</div>
                {% else %}
                <div class='username'>{{ status.username }}</div>
                {% endif %}

                <div class='timestamp'>{{ timestamp }}</div>

                <div id="{{ status.id_ }}-fav-mark" class='favorited {% if not status.is_favorite %} hidden {% endif %}'></div>

                <div id="{{ status.id_ }}-repeat-mark" class='repeated {% if not status.repeated %} hidden {% endif %}'></div>

                <div class='clearfix'></div>
            </div>
            <div class='message'>{{ message }}</div>
        </td>
    </tr>
    <tr>
        <td colspan='2' class='footer'>
            <div class='extra'>
                {% if in_reply_to %}
                <span class='in_reply_to'>{{ in_reply_to }}</span>
                {% endif %}
                {% if in_reply_to and repeated_by %}
                <div class='separator-5'></div>
                {% endif %}
                {% if repeated_by %}
                <span class='reposted'>{{ repeated_by }}</span>
                {% endif %}
            </div>
            <div class='buttons'>
                {% if in_reply_to and repeated_by %}
                <div class='separator-15'></div>
                {% endif %}
                {% if status.type_ == 1 %}
                    {% if status.is_own %}
                        <a href="cmd:delete:{{ status.id_ }}" title="{{ delete }}"><div class="action_delete"></div></a>
                    {% else %}
                        <a href="cmd:reply:{{ status.id_ }}" title="{{ reply }}"><div class="action_reply"></div></a>
                        <a href="cmd:quote:{{ status.id_ }}" title="{{ quote }}"><div class="action_quote"></div></a>
                        {% if not status.is_protected %}
                        <a href="cmd:repeat:{{ status.id_ }}" title="{{ retweet }}"><div class="action_repeat"></div></a>
                        {% endif %}
                        {% if status.is_favorite %}
                        <a id="{{ status.id_ }}-fav-cmd" href="cmd:unfavorite:{{ status.id_ }}" title="{{ remove_from_favorites }}"><div class="action_favorite"></div></a>
                        {% else %}
                        <a id="{{ status.id_ }}-fav-cmd" href="cmd:favorite:{{ status.id_ }}" title="{{ mark_as_favorite }}"><div class="action_favorite"></div></a>
                        {% endif %}
                    {% endif %}
                {% elif status.type_ == 2 %}
                    {% if status.is_own %}
                        <a href="cmd:delete_direct:{{ status.id_ }}" title="{{ delete }}"><div class="action_delete"></div></a>
                    {% else %}
                        <a href="cmd:reply_direct:{{ status.id_ }}" title="{{ reply }}"><div class="action_reply"></div></a>
                    {% endif %}
                {% endif %}
            </div>
            <div class='clearfix'></div>
        </td>
    </tr>
</table>
