<table class='status'>
    <tr>
        <td class='avatar-row'>
            <img class='avatar' src='{{ status.avatar }}' />
            {% if status.is_verified %}
            <div class='verified'></div>
            {% endif %}
        </td>
        <td class='content'>
            <div class='user-info'>
                {% if status.is_protected %}
                <div class='username_protected'>{{ status.username }}</div>
                {% else %}
                <div class='username'>{{ status.username }}</div>
                {% endif %}

                <div class='timestamp'>{{ timestamp }}</div>

                {% if status.is_favorite %}
                <div class='favorited'></div>
                {% endif %}

                {% if status.repeated %}
                <div class='repeated'></div>
                {% endif %}

                <div class='clearfix'></div>
            </div>
            <div class='message'>{{ message }}</div>
        </td>
    </tr>
    <tr>
        <td colspan='2' class='footer'>
            {% if in_reply_to %}
            <div class='in_reply_to'>{{ in_reply_to }}</div>
            {% endif %}
            {% if repeated_by %}
            <div class='clearfix'></div>
            <div class='reposted'><div>{{ repeated_by }}</div></div>
            {% endif %}
            <div class='buttons'>
                <a href="cmd:reply:{{ status.id_ }}" title="{{ reply }}"><div class="action_reply"></div></a>
                <a href="cmd:quote:{{ status.id_ }}" title="{{ quote }}"><div class="action_quote"></div></a>
                <a href="cmd:repeat:{{ status.id_ }}" title="{{ retweet }}"><div class="action_repeat"></div></a>
                <a href="cmd:favorite:{{ status.id_ }}" title="{{ mark_as_favorite }}"><div class="action_favorite"></div></a>
            </div>
            <div class='clearfix'></div>
        </td>
    </tr>

    <!-- Buttons -->
    <!--
    <tr>
        <td colspan='2' class='buttons'>
            <a href="cmd:reply:{{ status.id_ }}"><div class="action_reply"></div></a>
            <a href="cmd:repeat:{{ status.id_ }}"><div class="action_repeat"></div></a>
            <a href="cmd:quote:{{ status.id_ }}"><div class="action_quote"></div></a>
            <a href="cmd:favorite:{{ status.id_ }}"><div class="action_favorite"></div></a>
        </td>
    </tr>
    -->
</table>
