* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    background-color: #b4bbc1;
}

table {
    width: 100%;
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    background-color: #fff;
}

table tr {
    background-color: #fff;
}

table td {
    text-align: left;
    vertical-align: top;
    background-color: #fff;
}

.avatar-row {
    position: relative;
    width: 58px;
}

.avatar {
    width: 48px;
    height: 48px;
    margin: 10px;
    border-radius: 5px;
}

.verified {
    top: 48px;
    left: 48px;
    z-index: 10;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("file://{{ mark_verified }}") no-repeat;
}

/*@font-face {
    font-family: 'ropa_sansregular';
    src: url('{{ ropa_sans }}') local(ropa_sansregular) format('truetype');
}*/

.username, .username_protected {
    float: left;
    font-family: 'Titillium Web';
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.username_protected {
    padding-left: 18px;
    background: url("file://{{ mark_protected }}") no-repeat;
}

.favorited {
    float: right;
    width: 16px;
    height: 16px;
    background: url("file://{{ mark_favorited }}") no-repeat;
}

.repeated {
    float: right;
    width: 16px;
    height: 16px;
    background: url("file://{{ mark_repeated }}") no-repeat;
}

.message {
    font-family: 'Ubuntu';
    font-size: 14px;
    word-break: break-word;
    line-height: 1.3;
    margin-right: 10px;
}

.footer, .timestamp {
    font-family: 'Ropa Sans';
    font-size: 12px;
    color: #ccc;
}

.footer {
    margin-top: 5px;
}

.reposted {
    margin-left: 10px;
    float: left;
    padding-left: 18px;
    background: url("file://{{ mark_reposted }}") no-repeat;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.in_reply_to {
    vertical-align: middle;
    margin: 0px 5px 2px 10px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.timestamp {
    float: right;
    margin: 10px;
}

.entity, a {
    color: #f5861c;
    text-decoration: none;
}

.buttons {
    float: right;
    height: 24px;
    padding-right: 4px;
    vertical-align: middle;
    margin: 5px;
}

.buttons a {
    display: block;
    float: right;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action_reply {
    width: 20px;
    height: 20px;
    background: url("file://{{ action_reply_shadowed }}") no-repeat;
}

.action_repeat {
    width: 20px;
    height: 20px;
    background: url("file://{{ action_repeat_shadowed }}") no-repeat;
}

.action_quote {
    width: 20px;
    height: 20px;
    background: url("file://{{ action_quote_shadowed }}") no-repeat;
}

.action_favorite {
    width: 20px;
    height: 20px;
    background: url("file://{{ action_favorite_shadowed }}") no-repeat;
}

.action_reply:hover {
    background: url("file://{{ action_reply }}") no-repeat;
}

.action_repeat:hover {
    background: url("file://{{ action_repeat }}") no-repeat;
}

.action_quote:hover {
    background: url("file://{{ action_quote }}") no-repeat;
}

.action_favorite:hover {
    background: url("file://{{ action_favorite }}") no-repeat;
}

.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}
