* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    background-color: #b4bbc1;
}

/*::-webkit-scrollbar {
    background: transparent;
    overflow: visible;
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border: solid #fff;
    min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
    background: transparent;
}*/

.alert {
    color: #555;
    font-family: 'Ubuntu';
    font-size: 13px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 98%;
    z-index: 2;
}

.alert td {
    border-radius: 5px;
    padding: 4px 6px;
    margin: 1px 1px;
    cursor: pointer;
}

.error {
    border: 1px solid #f5aca6;
    background-color: #ffecec;
}

.warning {
    border: 1px solid #f2c779;
    background-color: #fff8c4;
}

.success {
    border: 1px solid #a6ca8a;
    background-color: #e9ffd9;
}

.notice {
    border: 1px solid #8ed9f6;
    background-color: #e3f7fc;
}

.user-info {
    margin: 0px;
}

.status {
    width: 100%;
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    background-color: #fff;
}

.status tr {
    background-color: #fff;
}

.status td {
    text-align: left;
    vertical-align: top;
    background-color: #fff;
}

.avatar-row {
    position: relative;
    width: 58px;
}

.avatar {
    width: 48px;
    height: 48px;
    margin: 10px;
    border-radius: 5px;
}

.verified {
    top: 48px;
    left: 48px;
    z-index: 1;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("file://{{ mark_verified }}") no-repeat;
}

.username, .username_protected {
    float: left;
    font-family: 'Titillium Web';
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.username a, .username_protected a {
    color: #000;
    text-decoration: none;
}

.username_protected {
    padding-left: 18px;
    background: url("file://{{ mark_protected }}") no-repeat 0px 5px;
}

.favorited {
    float: right;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    background: url("file://{{ mark_favorited }}") no-repeat;
}

.repeated {
    float: right;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    background: url("file://{{ mark_repeated }}") no-repeat;
}

.message {
    font-family: 'Ubuntu';
    font-size: 14px;
    word-break: break-word;
    line-height: 1.3;
    margin-right: 10px;
    /* Space between message and footer */
    margin-bottom: 5px;
}

.footer, .timestamp {
    font-family: 'Titillium Web';
    font-size: 12px;
    color: #ccc;
}

.reposted {
    margin-top: 2px;
    float: left;
    margin-left: 10px;
    padding-left: 18px;
    background: url("file://{{ mark_reposted }}") no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.in_reply_to {
    vertical-align: middle;
    margin: 2px 5px 2px 10px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 90%;
}

.timestamp {
    float: right;
    margin: 7px 10px 6px 10px;
}

.entity, a {
    color: #f5861c;
    text-decoration: none;
}

.extra {
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 58%;
}

.buttons {
    float: right;
    bottom: 0px;
    padding-right: 4px;
    height: 100%;
    width: 100px;
}

.buttons a {
    display: block;
    float: right;
    margin-left: 5px;
}

.action_reply {
    width: 20px;
    height: 20px;
    background: url("file://{{ action_reply_shadowed }}") no-repeat;
}

.action_repeat {
    width: 20px;
    height: 20px;
    background: url("file://{{ action_repeat_shadowed }}") no-repeat;
}

.action_quote {
    width: 20px;
    height: 20px;
    background: url("file://{{ action_quote_shadowed }}") no-repeat;
}

.action_favorite {
    width: 20px;
    height: 20px;
    background: url("file://{{ action_favorite_shadowed }}") no-repeat;
}

.action_delete {
    width: 20px;
    height: 20px;
    background: url("file://{{ action_delete_shadowed }}") no-repeat;
}

.action_reply:hover {
    background: url("file://{{ action_reply }}") no-repeat;
}

.action_repeat:hover {
    background: url("file://{{ action_repeat }}") no-repeat;
}

.action_quote:hover {
    background: url("file://{{ action_quote }}") no-repeat;
}

.action_favorite:hover {
    background: url("file://{{ action_favorite }}") no-repeat;
}

.action_delete:hover {
    background: url("file://{{ action_delete }}") no-repeat;
}

.conversation table {
    border-left: 10px solid #999;
}

.conversation table td {
    background-color: #f6f6f6;
}

.operation-loader {
    text-align: right;
}

.separator-5 {
    height: 5px;
}

.separator-15 {
    height: 15px;
}

.hidden {
    display: none;
}

.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.clearfix:after {
    clear: both;
}
